# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.DS_Store

gallery/
/containers/imgproc/imgproc
/containers/frontend/frontend
/functions/app/uploadimg/uploadimg
/functions/app/imgn-stack.yaml
/functions/app/listimgs/listimgs
/functions/test
/functions/app/uploadimgplain
